PORT=8000
MONGODB_URI=mongodb://mohitbisht3124_db_user:yourpassword@ac-9dut1qk-shard-00-00.qy6sbrv.mongodb.net:27017,ac-9dut1qk-shard-00-01.qy6sbrv.mongodb.net:27017,ac-9dut1qk-shard-00-02.qy6sbrv.mongodb.net:27017/?ssl=true&replicaSet=atlas-5q3doh-shard-0&authSource=admin&appName=Cluster0